@use 'reset.scss';
@use 'variable' as *;
@use 'function';

//  <!-- 換圖輪播 -->
.swiper {
    width: 100%;
    height: 100vh;
}

// html,
// body {
//     position: relative;
//     height: 100%;
// }

// body {
//     background: #000;
//     font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
//     font-size: 14px;
//     color: #fff;
//     margin: 0;
//     padding: 0;
// }

// .swiper {
//     width: 100%;
//     height: 100%;
// }

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// 共用區
section {
    width: 80%;
    margin: 0 auto;

}

.title {
    margin: $s-title;

    h2 {
        position: relative;
        display: flex;
        align-items: center;
        font-size: $f-s-xl;
        border-left: solid 5px $Charcoal; //裝飾線
        padding-left: $s-md; //為了讓做新商品與裝飾線分開

        span {
            font-size: $f-s-md;
            padding: $s30; //為了與字分開所以用間距

        }

        &::after {
            content: '';
            position: absolute;
            right: 0;
            width: calc(100% - 10rem);
            height: 3px;
            background-color:$Charcoal  ; //$light
            // 裝飾線要與文字一起縮放要用rem

        }

    }

}

.list-box {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;

    .item {
        a {
            position: relative;

            h3 {
                position: absolute;
                background-color: $alpha-b-60;
                width: 100%;
                height: 100%;
                color: $White;
                font-size: $f-s-xl;
                @extend %flex-center;
                opacity: 0;
                transition: $speed-fast;

                &:hover {
                    opacity: 1;
                }
            }
        }

    }
}

// new
#new {
    .mask {

        mask-image: url(../images/blobs-1.svg);
        mask-size: contain; //完整顯示
        mask-repeat: no-repeat; //圖片才不會露餡

    }

    .mask-1 {

        mask-image: url(../images/blobs-1.svg);


    }

    .mask2 {

        mask-image: url(../images/blobs-2.svg);

    }

    .mask3 {

        mask-image: url(../images/blobs-3.svg);


    }
}



#hot {
    .clip {
        clip-path: ellipse(25% 40% at 50% 50%);
        //circle(50%) //50%跟容器一樣的尺寸
        //

    }
    .mask-1 {

        mask-image: url(../images/blobs-1.svg);


    }

    .mask2 {

        mask-image: url(../images/blobs-2.svg);

    }

    .mask3 {

        mask-image: url(../images/blobs-3.svg);


    }


}

#shop {
    .container {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,320px);
        

        >a{
            background-size: cover;
            background-position: center;
            display: flex;
            padding: 50px;
            color: aliceblue;
            font-size: $f-s-lg;
            font-weight: $f-w-b;
            // @extend %flex-center;
        }
        

        .s1 {
            background-image: url(../images/new1.jpg);
            justify-content: center;
            align-items: center;
        }

        .s2 {
            background-image: url(../images/new1.jpg);
            justify-content: center;
            align-items: center;
        }

        .s3 {
            background-image: url(../images/new1.jpg);
            grid-column: 1 / 3 ;// 1/span 2
            justify-content: center;//flex-end
            align-items: center;
        }

        .s4 {
            background-image: url(../images/new1.jpg);
            grid-row: 3/span 2;// 3/5
            justify-content: center;//flex-end
            align-items: center;
        }

        .s5 {
            background-image: url(../images/new1.jpg);
            justify-content: center;//flex-end
            align-items: center;
        }

        .s6 {
            background-image: url(../images/new1.jpg);
            justify-content: center;//flex-end
            align-items: center;
        }
    }


}
//details.html
.details-box{
    display: grid;
    gap: 30px;
    grid-template-columns: 3fr 2fr;
}

// juery
.ui-tabs .ui-tabs-nav{

    display: flex;
}

footer {
    line-height: 50px;
    text-align: center;
    background-color: $Black;
    color: $White;
    margin-top: $s-lg;
}