//spacing
$s-5:5px;//xxs
$s-10:10px;//xs
$s-15:15px;//sm
$s-20:20px;//md
$s-25:25px;//lg
$s30:30px;//xl
$s110:110px;//ex

$s-x-10: 0 10px;//xs
$s-x-15: 0 15px;//sm
$s-x-20: 0 20px;//md
$s-x-lg: 0 25px;//lg
$s-x-xl: 0 30px;



$s-y-10: 10px 0;//xs
$s-y-15: 15px 0;//sm
$s-y-20: 20px 0;//md
$s-y-25: 25px 0;//lg
$s-y-xl: 30px 0;


$s-label:10px 0 5px;//$space-label
$s-title:30px 0 15px;

// radius
$r-6:6px;//sm
$r-12:12px;//md
$r-24:24px;//lg
$r-ex:99px; /* z-ex99999  */


// width

$w-100:100%;
$w-90:90%;
$w-80:80%;